.Middle {
  display: flex;
  width: 1241px;
  height: 250px;
  justify-content: space-between;
  background-color: #eff2f5;
}

.Categories {
  display: flex;
  width: 500px;
  height: 300px;
  background-color: red;
  margin: 0;
}

.Sales {
  display: flex;
  width: 500px;
  height: 300px;
  background-color: gray;
  margin: 0;
}
